doctype html
html
  head
    title Manage Employees
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav')
        a(href="/" class="dim")
            img(src="../logoec.png" style="float: left; margin-top: -12px; margin-right: 5px;")
        a(href="/" class="navbtn") Add New
        a(href="/view" class="navbtn") View All
    block content
    br
    hr(style="color: orange; border-style: solid;")
    div(class='nav')
