include mixin-1
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav')
        a(href='/1' class='navbtn') Part One
        a(href='/2' class='navbtn') Part Two

    block content