extends layout

block content
  h1 #{title}
  img(src="../logo.png")
  p Nunc suscipit nisl quis dolor egestas, non pharetra dui placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id elit augue. Aenean consequat eros ut rhoncus faucibus. Cras congue varius dui, eget fringilla lacus scelerisque id. Pellentesque vestibulum volutpat dictum. Aliquam sagittis rhoncus arcu vitae laoreet. Nam at fermentum elit.
  p Fusce sit amet congue lectus, a vestibulum purus. Curabitur et eleifend enim, vel dictum leo. Donec placerat enim nulla, vitae blandit elit tincidunt ac. Nam vitae ullamcorper velit, et iaculis purus. Nullam non elit tincidunt, semper mauris quis, luctus risus. Integer at auctor neque. Sed a mi sit amet ex interdum rhoncus eget sed nunc. Proin efficitur dui ut augue venenatis laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sit amet convallis quam. Morbi vitae commodo eros, non interdum metus. Nunc tincidunt, dui ut iaculis ullamcorper, enim massa faucibus odio, eu porttitor quam arcu vitae mi. Cras semper odio odio, at euismod eros ullamcorper vel. Cras volutpat quis justo mattis fringilla.