extends layout

block content
  h1 #{title}
  form(method="post" action="/form")
    label Name:
    br
    input(type="text" name="name")
    br
    label E-mail:
    br
    input(type="text" name="email")
    br
    label Comments:
    br
    textarea(rows="10" cols="40" name="comments")
    br
    br
    input(type="submit" value="Submit")