extends layout

block content
  h1 #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices tortor leo, non rutrum mi efficitur ut. Donec tristique justo at volutpat porta. Quisque feugiat enim id urna tincidunt, vitae laoreet augue semper. Morbi arcu odio, pellentesque non tellus vitae, condimentum pulvinar eros. Duis et tincidunt ligula. Morbi in turpis dapibus, maximus lectus eu, pharetra magna. Etiam a justo odio. Mauris facilisis lobortis nibh, gravida tristique magna.