doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav')
        a(href='/index' class='navbtn') Index
        a(href='/about' class='navbtn') About
        a(href='/form' class='navbtn') Form

    block content
